{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

<title>Input</title>


{% block content %}
<!-- <div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Order</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Post</button>
        </div>
    </form>
</div> -->
<div>This is where you will input your data</div>

<form method="POST">
    {% csrf_token %}
    <select class="custom-select mb-4" name='primary_category' hx-get="{% url 'secondaries' %}" hx-trigger="change"
        hx-target="#secondaries">
        <option selected> Choose your subcategory</option>
        {% for primary_category in primary_categories %}
        <option value="{{primary_category.pk}}">{{primary_category.name}}</option>
        {% endfor %}
    </select>


    <div id="secondaries">
        {% include 'partials/secondaries' %}
    </div>
    <div id="tertiaries">
        {% include 'partials/tertiaries.html' %}
    </div>
    {% comment %} </div>
    <label for="fname">Choose your translation:</label><br>
    <input type="text" id="fname" name="lang"><br>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Post whole form </button>
    </div>
    --> {% endcomment %}

        <select class="custom-select mb-4" name='translation'>
            <option selected> Open this select menu</option>
            {% for translation in class_object %}
            <option value="{{translation.pk}}">{{translation.translation}}</option>
            {% endfor %}
        </select>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Post whole form </button>
        </div>
    <!-- <div name='primary_category' hx-get="{% url 'secondaries' %}" hx-trigger="change" hx-target="#secondaries">
    {{form2.text.label_tag }} {% render_field form2.text class="custom-select mb-4" autocomplete="off" %} </div>
 hx-get="secondaries/"
hx-target="#id_text2" -->


    <!-- {{ form2.text2.label_tag }}
{% render_field form2.text2 class="custom-select mb-4" autocomplete="off" %} --> -->



    {% endblock content %}